@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 110%;
  font-weight: 700;
  color: #000201;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #F1F1F1;
  text-transform: lowercase;
  color: #000201;
}

.container {
  max-width: 1920px;
  padding: 0 128px;
}

.header {
  position: fixed;
  width: 100%;
  background: #f1f1f1;
  z-index: 1;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}
.header .logo img {
  max-height: 40px;
}

.menu {
  display: flex;
  gap: 54px;
}
.menu .menu__link {
  color: #33333350;
  text-decoration: none;
  font-size: 20px;
  line-height: 110%;
  position: relative;
  transition: color 0.3s;
}
.menu .menu__link.active {
  color: #333333;
}
.menu .menu__link.active:after, .menu .menu__link.active:hover:after {
  width: 100%;
  background-color: #333333;
}
.menu .menu__link:hover:after {
  width: 100%;
  background-color: #33333350;
  transition: width 0.3s;
}
.menu .menu__link:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #333;
}

.about {
  padding: 96px 0;
}
.about .about__info {
  display: flex;
  align-items: center;
}
.about .about__img {
  max-width: 400px;
}
.about .about__text {
  color: #959390;
  font-size: 20px;
  line-height: 110%;
}
.about .about__resume .about__resume-item {
  display: flex;
  gap: 48px;
}
.about .about__resume .about__resume-year {
  flex-basis: 110px;
  padding-top: 4px;
}
.about .about__resume .about__resume-year,
.about .about__resume .about__resume-company {
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
}
.about .about__resume .about__resume-position {
  color: #959390;
  font-size: 16px;
  line-height: 110%;
}
.about .about__resume .about__resume-info {
  position: relative;
  padding-bottom: 24px;
  padding-top: 4px;
}
.about .about__resume .about__resume-info:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #33333350;
  top: 0;
  left: -26px;
  position: absolute;
}
.about .about__resume .about__resume-info:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 6px;
  left: -35.5px;
  background: #F1F1F1;
  border: 1px solid #33333350;
}

.skills {
  padding: 96px 0;
}
.skills .skills__list {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 36px;
  margin-top: 50px;
}
.skills .skills__item {
  display: flex;
  align-items: center;
  gap: 36px;
}
.skills .skills__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
}

.works {
  padding: 96px 0;
}
.works .works__tab-list {
  position: relative;
  margin: 32px 0;
}
.works .works__tab-list::after {
  content: "";
  bottom: -8.5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #33333350;
}
.works .works__tab-btn {
  position: relative;
  color: #959390;
}
.works .works__tab-btn + .works .works__tab-btn {
  margin-left: 12px;
}
.works .works__tab-btn.active {
  color: #000201;
}
.works .works__tab-btn.active::after {
  content: "";
  bottom: -7px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 1px;
  background-color: #000201;
}
.works .works__list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px 20px;
}
.works .works__list-item {
  position: relative;
  width: calc(25% - 15px);
  max-width: 400px;
  max-height: 246px;
  border-radius: 16px;
  animation: fadeEffect 1s;
}
.works .works__list-item img {
  width: 100%;
  max-width: 400px;
  max-height: 246px;
  border-radius: 16px;
}
.works .works__item-link span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.25px;
  transition: opacity 0.3s;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.7);
}
.works .works__item-link:hover span {
  opacity: 1;
}
.works .works__item-link i {
  margin-right: 8px;
}
.works .works__item-link i::after {
  content: url("../images/icons/link.svg");
}

.contacts {
  padding: 96px 0;
}
.contacts .contacts__inner {
  display: flex;
  gap: 96px;
}
.contacts .contact-form {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px 32px;
  margin-top: 32px;
}
.contacts .contact-form .form-group input {
  width: 100%;
  height: 40px;
  padding: 0 32px;
  border-radius: 16px;
  border: 1px solid #33333350;
  background-color: transparent;
}
.contacts .contact-form .form-group textarea {
  width: 100%;
  padding: 0 32px;
  border-radius: 16px;
  border: 1px solid #33333350;
  resize: none;
  padding: 10px 32px;
  height: 200px;
  background-color: transparent;
}
.contacts .contact-form .form-group:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.contacts .contact-form input[type=submit] {
  padding: 10px 48px;
  border-radius: 16px;
  border: 1px solid #000201;
  width: 156px;
  text-transform: lowercase;
  grid-column-start: 2;
  float: right;
  cursor: pointer;
  color: #000201;
  transition: background-color 0.3s;
}
.contacts .contact-form input[type=submit]:hover, .contacts .contact-form input[type=submit]:focus {
  background-color: #000201;
  color: #fff;
}
.contacts .contact-form *::placeholder {
  color: #33333350;
}
.contacts .contacts__list .contacts__list-item {
  display: flex;
  align-items: center;
}
.contacts .contacts__list .contacts__list-item + .contacts .contacts__list .contacts__list-item {
  margin-top: 8px;
}
.contacts .contacts__list .contacts__list-item .contacts__item-icon {
  margin-right: 12px;
}
.contacts .contacts__list .contacts__list-item .contacts__item-icon.github::before {
  content: url(../images/icons/github.svg);
}
.contacts .contacts__list .contacts__list-item .contacts__item-icon.telegram::before {
  content: url(../images/icons/telegram.svg);
}
.contacts .contacts__list .contacts__list-item .contacts__item-icon.location::before {
  content: url(../images/icons/location.svg);
}
.contacts .contacts__list .contacts__list-item .contacts__item-link {
  color: #333333;
  font-size: 20px;
  line-height: 110%;
}

.footer .container {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .designed {
  display: flex;
  align-items: center;
  color: #959390;
  font-size: 20px;
  line-height: 110%;
}
.footer .designed:after {
  content: url(../images/icons/heart.svg);
  margin-left: 4px;
}
.footer .copyright {
  text-transform: none;
  color: #959390;
  font-size: 20px;
  line-height: 110%;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
