@import "fonts";
@import "reset";
@import "vars";

h1,
h2,
h3,
h4,
h5 {
  line-height: 110%;
  font-weight: 700;
  color: $primary;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: $background;
  text-transform: lowercase;
  color: $primary;
}
.container {
  max-width: 1920px;
  padding: 0 128px;
}
.header {
  position: fixed;
  width: 100%;
  background: #f1f1f1;
  z-index: 1;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
  }
  .logo img {
    max-height: 40px;
  }
}
.menu {
  display: flex;
  gap: 54px;
  .menu__link {
    color: $link;
    text-decoration: none;
    font-size: 20px;
    line-height: 110%;
    position: relative;
    transition: color 0.3s;
    &.active {
      color: $linkActive;
      &:after,
      &:hover:after {
        width: 100%;
        background-color: $linkActive;
      }
    }
    &:hover:after {
      width: 100%;
      background-color: $link;
      transition: width 0.3s;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #333;
    }
  }
}
.about {
  padding: 96px 0;
  .about__info {
    display: flex;
    align-items: center;
  }
  .about__img {
    max-width: 400px;
  }
  .about__text {
    color: $secondary;
    font-size: 20px;
    line-height: 110%;
  }
  .about__resume {
    .about__resume-item {
      display: flex;
      gap: 48px;
    }
    .about__resume-year {
      flex-basis: 110px;
      padding-top: 4px;
    }
    .about__resume-year,
    .about__resume-company {
      font-weight: 600;
      font-size: 20px;
      line-height: 110%;
    }
    .about__resume-position {
      color: $secondary;
      font-size: 16px;
      line-height: 110%;
    }
    .about__resume-info {
      position: relative;
      padding-bottom: 24px;
      padding-top: 4px;
      &:before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: $link;
        top: 0;
        left: -26px;
        position: absolute;
      }
      &:after {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 6px;
        left: -35.5px;
        background: $background;
        border: 1px solid $link;
      }
    }
  }
}
.skills {
  padding: 96px 0;
  .skills__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 36px;
    margin-top: 50px;
  }
  .skills__item {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  .skills__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
  }
}

.works {
  padding: 96px 0;
  .works__tab-list {
    position: relative;
    margin: 32px 0;
    &::after {
      content: "";
      bottom: -8.5px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $link;
    }
  }
  .works__tab-btn {
    position: relative;
    color: $secondary;
    & + & {
      margin-left: 12px;
    }
    &.active {
      color: $primary;
      &::after {
        content: "";
        bottom: -7px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
        height: 1px;
        background-color: $primary;
      }
    }
  }
  .works__list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px 20px;
    &-item {
      position: relative;
      width: calc(25% - 15px);
      max-width: 400px;
      max-height: 246px;
      border-radius: 16px;
      animation: fadeEffect 1s;

      & img {
        width: 100%;
        max-width: 400px;
        max-height: 246px;
        border-radius: 16px;
      }
    }
  }
  .works__item-link {
    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0;
      color: #fff;
      font-size: 20px;
      letter-spacing: -0.25px;
      transition: opacity 0.3s;
      border-radius: 16px;
      background-color: rgba(0, 0, 0, 0.7);
    }
    &:hover span {
      opacity: 1;
    }
    i {
      margin-right: 8px;
      &::after {
        content: url("../images/icons/link.svg");
      }
    }
  }
}
.contacts {
  padding: 96px 0;
  .contacts__inner {
    display: flex;
    gap: 96px;
  }
  .contact-form {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px 32px;
    margin-top: 32px;
    .form-group input {
      width: 100%;
      height: 40px;
      padding: 0 32px;
      border-radius: 16px;
      border: 1px solid $link;
      background-color: transparent;
    }
    .form-group textarea {
      width: 100%;
      padding: 0 32px;
      border-radius: 16px;
      border: 1px solid $link;
      resize: none;
      padding: 10px 32px;
      height: 200px;
      background-color: transparent;
    }
    .form-group:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    input[type="submit"] {
      padding: 10px 48px;
      border-radius: 16px;
      border: 1px solid $primary;
      width: 156px;
      text-transform: lowercase;
      float: right;
      cursor: pointer;
      color: $primary;
      transition: background-color 0.3s;
      &:hover,
      &:focus {
        background-color: $primary;
        color: #fff;
      }
    }
    *::placeholder {
      color: $link;
    }
  }
  .contacts__list {
    .contacts__list-item {
      display: flex;
      align-items: center;
      & + & {
        margin-top: 8px;
      }
      .contacts__item-icon {
        margin-right: 12px;
        &.github::before {
          content: url(../images/icons/github.svg);
        }
        &.telegram::before {
          content: url(../images/icons/telegram.svg);
        }
        &.location::before {
          content: url(../images/icons/location.svg);
        }
      }
      .contacts__item-link {
        color: $linkActive;
        font-size: 20px;
        line-height: 110%;
      }
    }
  }
}
.footer {
  .container {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .designed {
    display: flex;
    align-items: center;
    color: $secondary;
    font-size: 20px;
    line-height: 110%;
    &:after {
      content: url(../images/icons/heart.svg);
      margin-left: 4px;
    }
  }
  .copyright {
    text-transform: none;
    color: $secondary;
    font-size: 20px;
    line-height: 110%;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@import "responsive";
